body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #004d66;
    color: white;
}

.gallery {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

article {
    border: 2px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #fff;
}

article img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #004d66;
    color: white;
}
